{% extends "base.html" %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-info">{{ message }}</div>
  {% endfor %}
{% endif %}


{% if img1 and img2 %}
  <img src="{{ img1 }}" alt="Image" style="max-width: 200px; max-height: 200px;">
  <button action="button_img1" method="post">{{title1}}</button><br>
  <img src="{{ img2 }}" alt="Image" style="max-width: 200px; max-height: 200px;">
  <button action="button_img2" method="post">{{title2}}</button><br>
{% else %}
  <button action="button_play" method="post"> Play {{game_data.title}}</button><br>
{% endif %}


{% endblock %}
